<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{page.title}}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Jisung, Ahn">
<meta name="copyright" content="Creative Commons license">
<link rel="stylesheet" href="{{page.root}}css/foundation.css">
<link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
<link rel="stylesheet" href="{{page.root}}css/coderay.css">
<link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
<link rel="stylesheet" href="{{page.root}}css/narusas.css">
<script src="{{page.root}}js/vendor/modernizr.js"></script>
<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/toc.js"></script>
